.projects-content {
  width: 85%;
  margin: 0 auto 0 auto;
  padding-bottom: 2rem;
}

.projects-title {
  text-align: left;
  margin-bottom: 1rem;
  width: 100%;
}

.projects-title-shadow {
  width: 30.1%;
  transform: translateY(-0.1rem);
  left: -4px;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto 0 auto;
}

.project {
  display: flex;
  height: 180px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  margin: 0 auto 0 auto;
  outline: 4px solid var(--color-tertiary);
  text-align: left;
  box-shadow: 4px 8px 0 0 #8ab4ff, /* right */ -4px 8px 0 0 #8ab4ff;
}

.project--reverse {
  flex-direction: row-reverse;
}

.project-name {
  font-family: var(--font-primary);
  font-size: 2.5rem;
  line-height: 1;
  color: var(--color-accent);
  margin-top: 1rem;
}

.project-description {
  text-wrap: wrap;
  font-family: var(--font-secondary);
  color: var(--color-tertiary);
  font-size: 1.1rem;
  line-height: 1.2;
  margin: 0;
}

.project-image {
  width: 33%;
  height: 100%;
  background-color: red;
}

.project-text {
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 0 1rem 0 1rem;
}

.project .btn {
  width: 85px;
  height: 40px;
  font-size: 1.5rem;
  border: 2px solid #ffffff;
  margin: 0.5rem 0 1rem 0;
}
