.background {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.bg-1,
.bg-2,
.bg-3,
.bg-4,
.bg-5,
.bg-6 {
  position: absolute;
  inset: 0;
  pointer-events: none;
  image-rendering: pixelated;
}

.bg-1 {
  z-index: 1;
}

.bg-2 {
  z-index: 2;
}

.bg-3 {
  z-index: 3;
}

.bg-4 {
  z-index: 4;
}

.bg-5 {
  z-index: 5;
}

.bg-6 {
  z-index: 6;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  background-color: var(--color-secondary);
  margin: auto;
  outline: 4px solid var(--color-primary);
  outline-offset: -4px;
}

.title-stack {
  position: relative;
  display: inline-block;
}

.title-text {
  margin: 0;
  font-size: 4rem;
  line-height: 0.8;
}

.title-text--bg {
  --outline-width: 4px;
  --outline-width-negative: calc(-1 * var(--outline-width));
  position: absolute;
  color: #ffffff;
  z-index: 1;
  text-shadow: var(--outline-width-negative) var(--outline-width-negative) 0
      var(--color-primary),
    var(--outline-width) var(--outline-width-negative) 0 var(--color-primary),
    var(--outline-width-negative) var(--outline-width) 0 var(--color-primary),
    var(--outline-width) var(--outline-width) 0 var(--color-primary);
}

.title-text--fg {
  position: relative;
  z-index: 2;
  background-image: linear-gradient(
    0deg,
    /* accent band */ var(--color-accent) 0%,
    var(--color-accent) 33%,
    /* tertiary band */ var(--color-tertiary) 33%,
    var(--color-tertiary) 71%,
    /* secondary band */ var(--color-secondary) 71%,
    var(--color-secondary) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.home-title {
  font-size: 6rem;
  --outline-width: 6px;
  margin-top: 1rem;
}

.title-shadow {
  position: absolute;
  border: 0;
  height: 10px;
  background-color: var(--color-tertiary);
  z-index: 0;
  bottom: 0;
  transform: translateY(-0.4rem);
}

.title-shadow--left {
  width: 51.2%;
  left: -6px;
}

.title-shadow--right {
  width: 45.7%;
  right: 0;
}

.subtitle {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-size: 3rem;
  margin: 0;
  line-height: 1;
  margin-bottom: 1rem;
}

.content {
  width: 1000px;
  transition: margin 0.5s ease-in-out, transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  padding: 1rem 0 1rem 0;
}

.container--home .content {
  order: 1;
  transform: translateY(0);
}

.container--home .navbar {
  order: 2;
  transform: translateY(0);
}

.container--section .content {
  order: 2;
  transform: translateY(10px);
}

.container--section .navbar {
  order: 1;
  transform: translateY(-10px);
}
